footer{
	height: 600px;
	width: auto;
	background: #1A4457;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-family: 'Lobster', cursive;
}
.prava{
padding-left:
}
.networks{
height: 120px;
background-color: #276C8C;
}
